* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
a {
    text-decoration: none;

}
ul {
    list-style: none;
}
.active {
    color:#fc3d03;
    text-decoration: underline;
    font-weight: bold;
}
/*Navbar*/
.navbar {

    position: fixed;
    top:0;
    left:0;
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding: 18px;
    color:whitesmoke;
    background:transparent;
    backdrop-filter: blur(8px);

}
.nav-links,ul {
    display: flex;
    align-items:center;
}
.nav-links li {
    margin: 0 30px;
}
 header {
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: bottom;
    background-size:cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
 }
 .header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
 }
 .header-content h2 {
    font-size:4vmin;
 }
 .line {
    width: 150px;
    height: 4px;
    background:#fc7b03;
    margin: 10px auto;
    border-radius: 5px;
 }
 .header-content h1 {
    font-size: 7vmin;
    margin-top:50px;
    margin-bottom: 30px;

 }
 .ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke
 }
 .menu-btn {
    position:absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display:none;
 }
 section {
    width: 80px;
    margin: 80px auto;
 }
 .title {
    text-align: center;
    font-size: 4vmin;
    color:#484872;
 }
 .row {
    display: flex;
 }

 /*moblile device*/
 @media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar {
        padding:0;

    }
    .logo{
        position:absolute;
        top: 30px;
        left:30px;

    }
    .nav-lins {
        flex-direction:column;
        width: 100%;
        height: 100vj;
        justify-content: center;
        background: #484872;
        margin-top:-900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin:30 px auto;
    }
 }
 .ser{
    width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

 }
 section {
    width:100%;
    height: 70vh;
 }
    .ser p{
        max-width: 700px;
    

    }
    .ser img {
        border-radius: 6px;
    }
    section h2 {
        text-align: center;
        margin: 10px 0;

    }
    footer {
        background-color: #333;
        overflow: hidden;
        display: flex;
        justify-content: center;
      }
      
      footer a {
        text-decoration: none;
        padding: 30px;
        float: left;
        font-size: 18px;
        color: white;
      }